<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../theme/global.css">
  <link rel="stylesheet" href="./layouts.css">
</head>
<body>
  <div class="layout layout--main-page">
    <header class="header--mobile">
      im a header Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium deleniti cupiditate omnis, consequatur fuga!
    </header>
    <nav class="main-nav">Main menu Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero non autem ab rem voluptatum in aspernatur quae, minima beatae provident hic omnis amet pariatur. Natus recusandae nihil illo? Illum, ut.</nav>
    <article class="main-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora sed atque aspernatur aperiam corporis, ipsam consectetur minima provident vel libero ipsa ipsum est ex quidem mollitia consequatur! Accusantium, corporis harum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, unde natus! In nobis eius earum enim suscipit vero assumenda eveniet fugiat obcaecati placeat, quidem illo harum voluptas inventore maiores ducimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed maiores culpa at harum ipsam earum, sapiente nulla debitis. Error reiciendis dolorem, sapiente quis molestias iste quam rem. Consequatur, voluptatum neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem earum ullam expedita? Quam neque vel repellendus sequi dolorum a! Commodi esse rerum vero earum voluptatem at minima, dolorem nobis ipsam!</article>
  </div>
</body>
</html>
