$mobile-minW: 480px;

.layout {
  display: flex;

  &--register-entry {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &--main-page {
    --menu-desktop-width: 68px;
    --menu-desktop-width--open: 18.29rem;
    --menu-mobile-height: 50px;
  }
}

.block {
  outline: 1px solid steelblue;
}

.header--mobile {
  display: none;

  @media (max-width: $mobile-minW) {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: var(--menu-mobile-height);
    width: 100vw;
    background-color: #ffffff;
    //outline: 1px solid olive;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  flex: 0 0 auto;
  width: var(--menu-desktop-width);
  //outline: 1px solid tomato;

  &--open {
    width: var(--menu-desktop-width--open);
    /* класс для открытого бокового меню */
  }

  @media (max-width: $mobile-minW) {
    position: fixed;
    z-index: 10;
    top: auto;
    bottom: 0;
    left: 0;
    height: var(--menu-mobile-height);
    width: 100vw;
    background-color: #ffffff;
  }
}

.main-content {
  position: absolute;
  top: 0;
  left: var(--menu-desktop-width--open);
  //outline: 1px solid steelblue;

  @media (max-width: $mobile-minW) {
    top: var(--menu-mobile-height);
    left: 0;
  }
}